/* Google fonts import */
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #c0c0c0;
    font-family: 'Exo', sans-serif;
}

/* Header */
header {
    background-color: #830408;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #c0c0c0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #c0c0c0;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

#logo:hover{
    color: white;
    border-bottom:none;
    text-decoration: none;
}

#menu li a:hover {
    color: white;
    border-bottom: none;
    text-decoration: none;
}   

.active {
    border-bottom: 1px solid #c0c0c0;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #830408;
    width: 50%;
    right: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #c0c0c0;
    display: none;
    top: 100%;
}

/* Nav toggle */
#hamburger-menu:checked~nav {
    display: block;
}

#hamburger-menu {
    display: none;
    width: 50%;
}

.hamburger-menu-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: #c0c0c0;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 45px;
    text-align: center;
    justify-content: center;
}

/* Main image */
#main-image {
    height: 600px;
    width: 100%;
    background: url("../images/MainImage.png") no-repeat center center/cover;
}

.fa-sharp{
    margin: auto;
    margin-bottom: 20px;
    }

.text{
    color: black;
    margin: 70px;
}

hr{
    background-color: #830408;
    height: 3px;
    margin-left: 150px;
    margin-right: 150px;
}

/* Footer */
footer{
    background-color: #830408;
    color: #c0c0c0;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #c0c0c0;
}
#social-networks i:hover {
    color: white;
}        

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .gallery{
        display:none;
    }

    .hamburger-menu-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    .image-dish1 {
        background: url("../images/image-dish1.jpg");
    }
    .image-dish2 {
        background: url("../images/image-dish2.jpg");
    }
    .image-dish3 {
        background: url("../images/image-dish3.jpg");
    }
    .image-dish4 {
        background: url("../images/image-dish4.jpg");
    }
    .image-dish5 {
        background: url("../images/image-dish5.jpg");
    }
    .image-dish1, .image-dish2, .image-dish3, .image-dish4, .image-dish5 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 360px;
        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
    }

   }